<!DOCTYPE html>
<html>
    <head>
        <title>Make a Campaign - Bruenor's Bash</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Bootcards CSS for desktop: -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
        <link rel="stylesheet" href="../../static/css/stylesheet.css">
        <script	  src="https://code.jquery.com/jquery-3.1.1.min.js"
    			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    			  crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
        <script src="https://use.fontawesome.com/829bd5f339.js"></script>
        <script src="../../static/javascript/myScript.js"></script>
    </head>
    <body>
        <!-- Begin Top NavBar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!--
                        Begin Button
                            - navbar-toggle: toggable navbar
                            - callapse: we can collapse this with bootcard js file
                    -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand no-break-out" title="Bruenor's Bash Home" href="../index.html">Bruenor's Bash</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login<strong class="caret"></strong></a>
                          <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                              <!-- Login form here -->
                              <form action="[YOUR ACTION]" method="post" accept-charset="UTF-8">
                                    <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30">username</input>
                                    <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" />

                                    <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                              </form>
                          </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="settings.html">
                                <i class="fa fa-gears"></i> Stories
                            </a>
                        </li>
                        <li>
                            <a href="settings.html">
                                <i class="fa fa-gears"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top NavBar -->
        <div class="norm_container">
            <div class="container">
                <p><h1>Make a Campaign</h1></p>

                <!-- Begin Tabs -->
                <div ng-controller="myCtrl">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a class="tab-display" data-toggle="tab" href="#People">People</a>
                        </li>
                        <li class="disabled"><a class="tab-display" href="#Places">Places</a>
                        </li>
                        <li class="disabled"><a class="tab-display" href="#Purpose">Purpose</a>
                        </li>
                    </ul>
                </div>
                <!-- End Tabs -->
            </div>
            <div class="container">
                <div class="tab-content" ng-controller="tabParent">
                    <!-- BEGIN Tab Content -->
                    <!--
                        Each of the tab's content are here, separated, but all are using the same ng-controller
                        Would love to find a way to use PJax in order to dynamically add content to page here,
                        so that way we don't repeat ouselves.
                    -->
                    <div ng-controller="parseString" class="tab-pane fade in active" id="People">
                        <h3>Choose The People for the Campaign</h3>
                        <p>as well as some basic info</p>
                        <div>
                            <form>
                                <div class="form-group">
                                    <label for="questName">Name of Quest</label>
                                    <input type="text" class="form-control" id="questName" placeholder="Name of Quest">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-controller="parseString" class="tab-pane fade" id="Places">
                        <h3>What places are there to go?</h3>
                        <p>You can add more later</p>
                    </div>
                    <div ng-controller="parseString" class="tab-pane fade" id="Purpose">
                        <h3>What is the campaign's purpose</h3>
                        <p>These are the overall goals of the campaign</p>
                    </div>
                    <!-- END Tab Content -->
                </div>
            </div>
        </div>
    </body>
</html>
