{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>My Character - Bruenor's Bash</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Bootcards CSS for desktop: -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
        <link rel="stylesheet" href="{% static '/css/stylesheet.css' %}">
        <script	  src="https://code.jquery.com/jquery-3.1.1.min.js"
    			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    			  crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
        <script src="https://use.fontawesome.com/829bd5f339.js"></script>
        <!-- Remove comment and make active below before looking for server usage -->
        <!-- <script src="{% static 'javascript/myScript.js' %}"></script> -->
    </head>
    <body>
        <!-- Begin Top NavBar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!--
                        Begin Button
                            - navbar-toggle: toggable navbar
                            - callapse: we can collapse this with bootcard js file
                    -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand no-break-out" title="Bruenor's Bash Home" href="../">Bruenor's Bash</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login<strong class="caret"></strong></a>
                          <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                              <!-- Login form here -->
                              <form action="[YOUR ACTION]" method="post" accept-charset="UTF-8">
                                    <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30">username</input>
                                    <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" />

                                    <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                              </form>
                          </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="settings.html">
                                <i class="fa fa-gears"></i> Stories
                            </a>
                        </li>
                        <li>
                            <a href="settings.html">
                                <i class="fa fa-gears"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Top NavBar -->
        <div class="norm_container" ng-controller="characterBuild">
            <div class="container">
                <p><h1>My Character: <span ng-bind="myData.cid.name" style="font-weight: bold;"></span></h1></p>

                <!-- Begin Tabs -->
                <div ng-controller="myCtrl">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a class="tab-display" data-toggle="tab" href="#Basic">Basic Details</a>
                        </li>
                        <li><a class="tab-display" data-toggle="tab" href="#Skills">Skills and Stats</a>
                        </li>
                        <li><a class="tab-display" data-toggle="tab" href="#Personal">Personal Background</a>
                        </li>
                    </ul>
                </div>
                <!-- End Tabs -->
            </div>
            <div class="container">
                <div class="tab-content" ng-controller="tabParent">
                    <!-- BEGIN Tab Content -->
                    <!--
                        Each of the tab's content are here, separated, but all are using the same ng-controller
                        Would love to find a way to use PJax in order to dynamically add content to page here,
                        so that way we don't repeat ouselves.
                    -->
                    <div class="tab-pane fade in active" id="Basic">
                        <br>
                        <p>This is the main panel that contains all of your basic information for your character. This informational page is used mainly
                        for a quick view of what your character can do for simple interactions. If you need additional information on whether you can
                        perform a certain skill, then please look under the <span style="font-weight: bold;">Skills and Stats</span> tab above. If you need
                        additional information on how to play your character's personality, then please look under the <span style="font-weight: bold;">Personal Background</span> tab.</p>

                        <div class="bootcards-list">
                            <div class="list-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center" ng-bind="myData.cid.name"></h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Race</p>
                                                    <h4 class="list-group-item-heading"><span ng-bind="myData.rid.name"></span></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Class</p>
                                                    <h4 class="list-group-item-heading"><span ng-bind="myData.pcid.name"></span> - Level <span ng-bind="myData.cid.level"></span></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Background</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.bid.name"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Additional Notes</p>
                                                    <h5 class="list-group-item-heading" ng-bind="myData.cid.notes"></h5>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center">Items</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Inventory</p>
                                                    <h4 class="list-group-item-heading">Empty</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Potions</p>
                                                    <h4 class="list-group-item-heading">None</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Armor</p>
                                                    <h4 class="list-group-item-heading">None</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Weapons</p>
                                                    <h4 class="list-group-item-heading">None</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Spells Known</p>
                                                    <h4 class="list-group-item-heading">None</h4>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-controller="parseString" class="tab-pane fade" id="Skills">
                        <br>
                        <div class="bootcards-list">
                            <div class="list-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center"> Base Skills</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Strength</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.strength"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Dexterity</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.dexterity"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Constitution</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.constitution"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Intelligence</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.intelligence"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Wisdom</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.wisdom"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Charisma</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.charisma"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Speed</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.rid.speed"></h4>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center"> Advance</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Save Proficiencies</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.save_proficiencies"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Hit Die</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.hit_die"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Primary Ability</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.primary_ability"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Skill Proficiencies</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.skill_proficiencies"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Number of Skills</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.skills_number"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Skill Increases</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.rid.mandatory_ability_increases"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Spells Known</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.spells_known"></h4>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div ng-controller="parseString" class="tab-pane fade" id="Personal">
                        <br>
                        <div class="bootcards-list">
                            <div class="list-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center"> Personal Background</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Race</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.rid.name"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Class</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.pcid.name"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Alignment</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.alignment"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Notes</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.notes"></h4>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center"> Advance</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Strength</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.strength"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Dexterity</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.dexterity"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Constitution</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.constitution"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Intelligence</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.intelligence"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Wisdom</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.wisdom"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Charisma</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.cid.charisma"></h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Speed</p>
                                                    <h4 class="list-group-item-heading" ng-bind="myData.rid.speed"></h4>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Tab Content -->
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

        <script src="../../static/javascript/myScript.js"></script>
    </body>
</html>
